In [50]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import requests
import bs4

In [51]:
input_file_path = 'wordle_texts.csv'
output_file_path = 'filtered_wordle_scores_per_day.csv'


last_message_of_day = {}


def is_valid_datetime(date_str):
    try:
        datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S')
        return True
    except ValueError:
        return False


with open(input_file_path, 'r', newline='', encoding='latin-1') as inp:
    reader = csv.reader(inp)
    
    
    header = next(reader)
    
    
    for row in reader:
        
        if "Tom " in row[12] or "tom " in row[12]:
            datetime_str = row[1]  
            if is_valid_datetime(datetime_str):
                timestamp = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')  
                date_only = timestamp.date()  # 
                if date_only not in last_message_of_day or last_message_of_day[date_only][0] < timestamp:
                    last_message_of_day[date_only] = (timestamp, row)


with open(output_file_path, 'w', newline='', encoding='latin-1') as outp:
    writer = csv.writer(outp)
    
    
    writer.writerow(header)
    
    
    for date in sorted(last_message_of_day.keys()):
        writer.writerow(last_message_of_day[date][1])

In [52]:
df = pd.read_csv('filtered_wordle_scores_per_day.csv')

In [53]:
print(df.head(100))

         Chat Session         Message Date Delivered Date  \
0   Ellen Davis & Dad  2023-07-19 22:36:36            NaN
1   Ellen Davis & Dad  2023-07-20 22:07:29            NaN
2   Ellen Davis & Dad  2023-07-21 12:42:07            NaN
3   Ellen Davis & Dad  2023-07-22 17:46:58            NaN
4   Ellen Davis & Dad  2023-07-23 09:06:14            NaN
..                ...                  ...            ...
95  Ellen Davis & Dad  2024-06-01 17:29:04            NaN
96  Ellen Davis & Dad  2024-06-02 13:14:35            NaN
97  Ellen Davis & Dad  2024-06-03 12:09:54            NaN
98  Ellen Davis & Dad  2024-06-04 14:14:20            NaN
99  Ellen Davis & Dad  2024-06-05 10:58:10            NaN

              Read Date  Edited Date Service      Type     Sender ID  \
0   2023-07-20 15:04:51          NaN     SMS  Incoming  1.919602e+10
1   2023-07-20 22:32:10          NaN     SMS  Incoming  1.919602e+10
2   2023-07-21 21:40:52          NaN     SMS  Incoming  1.919602e+10
3   2023-07-22 23:46:32          NaN     SMS  Incoming  1.919602e+10
4   2023-07-26 22:28:15          NaN     SMS  Incoming  1.919602e+10
..                  ...          ...     ...       ...           ...
95  2024-06-04 08:00:09          NaN     SMS  Incoming  1.919602e+10
96  2024-06-04 08:00:09          NaN     SMS  Incoming  1.919602e+10
97  2024-06-04 08:00:09          NaN     SMS  Incoming  1.919602e+10
98  2024-06-04 21:50:07          NaN     SMS  Incoming  1.919602e+10
99  2024-06-06 16:26:15          NaN     SMS  Incoming  1.919602e+10

   Sender Name Status  Replying to  Subject  \
0          Dad   Read          NaN      NaN
1          Dad   Read          NaN      NaN
2          Dad   Read          NaN      NaN
3          Dad   Read          NaN      NaN
4          Dad   Read          NaN      NaN
..         ...    ...          ...      ...
95         Dad   Read          NaN      NaN
96         Dad   Read          NaN      NaN
97         Dad   Read          NaN      NaN
98         Dad   Read          NaN      NaN
99         Dad   Read          NaN      NaN

                                                 Text  Attachment  \
0   Beth 5\nEllen 5\nLucy 4\nTom 4\nJen 3\nPete 3\...         NaN
1   Lucy 5\nMarcos 5\nPete 5\nTom 5\nJen 4\nGrant ...         NaN
2            Beth 5\nGrant 5\nMarcos 5\nPete 4\nTom 4         NaN
3                     Pete 6\nBeth 5\nTom 5\nMarcos 3         NaN
4                                       Pete 4\nTom 3         NaN
..                                                ...         ...
95         Beth 4\nGrant 4\nNA = 3.6\nMarcos 3\nTom 3         NaN
96  Grant 6\nTom 6\nNA = 4.2\nPete 4\nMarcos 3\nBe...         NaN
97  Smitty 5\nLucy 4\nMarcos 4\nNA = 3.5\nGrant 3\...         NaN
98  Pete 6\nJen 5\nLucy 5\nMarcos 5\nTom 5\nNA = 4...         NaN
99  Slim 5\nSmitty 5\nTom 5\nMarcos 4\nPete 4\nNA ...         NaN

    Attachment type
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
..              ...
95              NaN
96              NaN
97              NaN
98              NaN
99              NaN

[100 rows x 15 columns]

In [54]:
columns_to_keep = ['Message Date', 'Text']
df = df[columns_to_keep]

In [55]:
print(df.head(5))

          Message Date                                               Text
0  2023-07-19 22:36:36  Beth 5\nEllen 5\nLucy 4\nTom 4\nJen 3\nPete 3\...
1  2023-07-20 22:07:29  Lucy 5\nMarcos 5\nPete 5\nTom 5\nJen 4\nGrant ...
2  2023-07-21 12:42:07           Beth 5\nGrant 5\nMarcos 5\nPete 4\nTom 4
3  2023-07-22 17:46:58                    Pete 6\nBeth 5\nTom 5\nMarcos 3
4  2023-07-23 09:06:14                                      Pete 4\nTom 3

In [56]:
# Convert the 'Message Date' column to datetime
df['Message Date'] = pd.to_datetime(df['Message Date'])

# Extract year, month, day, and time
df['Year'] = df['Message Date'].dt.year
df['Month'] = df['Message Date'].dt.month
df['Day'] = df['Message Date'].dt.day
df['Time'] = df['Message Date'].dt.time
df['Message Date'] = df['Message Date'].dt.date

# Rearrange the columns
df = df[['Message Date', 'Year', 'Month', 'Day', 'Time', 'Text']]

# Display the first few rows of the DataFrame to verify
print(df.head())

# Save the modified DataFrame to a new CSV file
df.to_csv('wordle_texts_modified.csv', index=False)

  Message Date  Year  Month  Day      Time  \
0   2023-07-19  2023      7   19  22:36:36
1   2023-07-20  2023      7   20  22:07:29
2   2023-07-21  2023      7   21  12:42:07
3   2023-07-22  2023      7   22  17:46:58
4   2023-07-23  2023      7   23  09:06:14

                                                Text
0  Beth 5\nEllen 5\nLucy 4\nTom 4\nJen 3\nPete 3\...
1  Lucy 5\nMarcos 5\nPete 5\nTom 5\nJen 4\nGrant ...
2           Beth 5\nGrant 5\nMarcos 5\nPete 4\nTom 4
3                    Pete 6\nBeth 5\nTom 5\nMarcos 3
4                                      Pete 4\nTom 3

In [57]:

print(df.dtypes)

Message Date    object
Year             int32
Month            int32
Day              int32
Time            object
Text            object
dtype: object

MUST ADRESS: Sometimes dad sends update scores after 11:59 PM!!!

In [58]:
# Split the text by new lines
df['Text'] = df['Text'].apply(lambda x: x.split('\n') if isinstance(x, str) else [])

# Use explode to create new rows for each element in the list
expanded_df = df.explode('Text').reset_index(drop=True)

print("Expanded DataFrame:")
print(expanded_df)

Expanded DataFrame:
     Message Date  Year  Month  Day      Time      Text
0      2023-07-19  2023      7   19  22:36:36    Beth 5
1      2023-07-19  2023      7   19  22:36:36   Ellen 5
2      2023-07-19  2023      7   19  22:36:36    Lucy 4
3      2023-07-19  2023      7   19  22:36:36     Tom 4
4      2023-07-19  2023      7   19  22:36:36     Jen 3
...           ...   ...    ...  ...       ...       ...
1077   2024-07-18  2024      7   18  14:34:00    Beth 5
1078   2024-07-18  2024      7   18  14:34:00  Marcos 5
1079   2024-07-18  2024      7   18  14:34:00     Tom 5
1080   2024-07-18  2024      7   18  14:34:00  Smitty 3
1081   2024-07-18  2024      7   18  14:34:00    Slim 4

[1082 rows x 6 columns]

In [59]:
unique_counts = expanded_df.groupby('Message Date').size()

print("Unique counts by 'Message Date':")
print(unique_counts)

Unique counts by 'Message Date':
Message Date
2023-07-19    8
2023-07-20    7
2023-07-21    5
2023-07-22    4
2023-07-23    2
             ..
2024-07-14    6
2024-07-15    7
2024-07-16    8
2024-07-17    6
2024-07-18    5
Length: 132, dtype: int64

In [60]:
expanded_df['Player'] = expanded_df['Text'].str.extract(r'^([A-Za-z]+)')
expanded_df['Score'] = expanded_df['Text'].str.extract(r'(\d+\.?\d*)$')
print(expanded_df)

     Message Date  Year  Month  Day      Time      Text  Player Score
0      2023-07-19  2023      7   19  22:36:36    Beth 5    Beth     5
1      2023-07-19  2023      7   19  22:36:36   Ellen 5   Ellen     5
2      2023-07-19  2023      7   19  22:36:36    Lucy 4    Lucy     4
3      2023-07-19  2023      7   19  22:36:36     Tom 4     Tom     4
4      2023-07-19  2023      7   19  22:36:36     Jen 3     Jen     3
...           ...   ...    ...  ...       ...       ...     ...   ...
1077   2024-07-18  2024      7   18  14:34:00    Beth 5    Beth     5
1078   2024-07-18  2024      7   18  14:34:00  Marcos 5  Marcos     5
1079   2024-07-18  2024      7   18  14:34:00     Tom 5     Tom     5
1080   2024-07-18  2024      7   18  14:34:00  Smitty 3  Smitty     3
1081   2024-07-18  2024      7   18  14:34:00    Slim 4    Slim     4

[1082 rows x 8 columns]

# Deal with FAIL cases!!!

Dr.Labarr sugested making a seperate column with a 0 for Non-fail and a 1 for Fail

In [61]:
expanded_df['Fail'] = expanded_df['Score'].isna().astype(int)

print(expanded_df)

     Message Date  Year  Month  Day      Time      Text  Player Score  Fail
0      2023-07-19  2023      7   19  22:36:36    Beth 5    Beth     5     0
1      2023-07-19  2023      7   19  22:36:36   Ellen 5   Ellen     5     0
2      2023-07-19  2023      7   19  22:36:36    Lucy 4    Lucy     4     0
3      2023-07-19  2023      7   19  22:36:36     Tom 4     Tom     4     0
4      2023-07-19  2023      7   19  22:36:36     Jen 3     Jen     3     0
...           ...   ...    ...  ...       ...       ...     ...   ...   ...
1077   2024-07-18  2024      7   18  14:34:00    Beth 5    Beth     5     0
1078   2024-07-18  2024      7   18  14:34:00  Marcos 5  Marcos     5     0
1079   2024-07-18  2024      7   18  14:34:00     Tom 5     Tom     5     0
1080   2024-07-18  2024      7   18  14:34:00  Smitty 3  Smitty     3     0
1081   2024-07-18  2024      7   18  14:34:00    Slim 4    Slim     4     0

[1082 rows x 9 columns]

Lets add a column for start words used by different players

In [62]:
# Replace NA values in the 'Player' column with "National Average"
expanded_df['Player'] = expanded_df['Player'].fillna('National Average')

# Apply the case_when logic
expanded_df['Player'] = expanded_df['Player'].replace({
    'Idabelle': 'Isabelle',
    'Isabele': 'Isabelle',
    'Jen': 'Jennifer',
    'Metedith': 'Meredith',
    'NA': 'National Average'
})


start_words = {
    'Beth': 'great',
    'smitty': 'audio',
    'grant': 'grant' ,
    'pete': 'route',
    'kate': 'ascot',
    'Lucy': 'weird',
    'Meredith': 'least',
    'slim': 'games'
}

secondary_words = {
    'Beth': 'pious',
    'Lucy': 'nasty'}
tertiary_words = {
    'Lucy': 'cough'}
expanded_df['Start_Words'] = expanded_df['Player'].map(start_words)
expanded_df['secondary_words'] = expanded_df['Player'].map(secondary_words)
expanded_df['tertiary_words'] = expanded_df['Player'].map(tertiary_words)

In [63]:
print(expanded_df)

     Message Date  Year  Month  Day      Time      Text    Player Score  Fail  \
0      2023-07-19  2023      7   19  22:36:36    Beth 5      Beth     5     0
1      2023-07-19  2023      7   19  22:36:36   Ellen 5     Ellen     5     0
2      2023-07-19  2023      7   19  22:36:36    Lucy 4      Lucy     4     0
3      2023-07-19  2023      7   19  22:36:36     Tom 4       Tom     4     0
4      2023-07-19  2023      7   19  22:36:36     Jen 3  Jennifer     3     0
...           ...   ...    ...  ...       ...       ...       ...   ...   ...
1077   2024-07-18  2024      7   18  14:34:00    Beth 5      Beth     5     0
1078   2024-07-18  2024      7   18  14:34:00  Marcos 5    Marcos     5     0
1079   2024-07-18  2024      7   18  14:34:00     Tom 5       Tom     5     0
1080   2024-07-18  2024      7   18  14:34:00  Smitty 3    Smitty     3     0
1081   2024-07-18  2024      7   18  14:34:00    Slim 4      Slim     4     0

     Start_Words secondary_words tertiary_words
0          great           pious            NaN
1            NaN             NaN            NaN
2          weird           nasty          cough
3            NaN             NaN            NaN
4            NaN             NaN            NaN
...          ...             ...            ...
1077       great           pious            NaN
1078         NaN             NaN            NaN
1079         NaN             NaN            NaN
1080         NaN             NaN            NaN
1081         NaN             NaN            NaN

[1082 rows x 12 columns]

Lets webscrape the previous wordle words for each day

In [64]:

URL = 'https://wordfinder.yourdictionary.com/wordle/answers/'
req = requests.get(URL)
soup = bs4.BeautifulSoup(req.text, 'html.parser')

HEADERS = ['Date', 'Wordle', 'Answer']


all_rows = []

# would need to change range as new months are added to the website
for table_index in range(9):
    try:
        table = soup.find_all('table')[table_index]
        rows = table.find_all('tr')

        #we start on first complete day. (I.E. if current day word is available, we dont grab it until tmr)
        for row in rows[1:]: 
            cells = row.find_all('td')
            Date = cells[0].text.strip() # why is year not grabbed?
            Wordle = cells[1].text.strip()
            Answer = cells[2].text.strip()
            all_rows.append([Date, Wordle, Answer])

    except IndexError:
        print(f"Table {table_index} does not exist on the page.")


with open('wordle_answers.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(HEADERS)
    writer.writerows(all_rows)

print(f"Data from tables 0 through 8 has been written to 'wordle_answers.csv'.")

Data from tables 0 through 8 has been written to 'wordle_answers.csv'.

In [65]:
answers = pd.read_csv('wordle_answers.csv')
answers = answers.drop(0).reset_index(drop=True)

In [66]:
# why is the 30th and 31st of each month?????
month_map = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
}

# Function to transform the date format
def transform_date(date_str, wordle_number):
    # Remove the period after the month and split by space
    parts = date_str.replace('.', '').split()
    # Ensure parts has exactly two elements
    if len(parts) != 2:
        raise ValueError(f"Date string format is incorrect: {date_str}")
    # Map the month name to its corresponding number
    month_number = month_map[parts[0]]
    # Determine the year based on the Wordle Answer number
    year = 2024 if wordle_number >= 926 else 2023 # looked up this value from website
    return f"{year}-{month_number}-{parts[1]}"

# Apply the function to the 'Date' column
answers['Date'] = answers.apply(lambda row: transform_date(row['Date'], row['Wordle']), axis=1)

# Display the transformed DataFrame
print(answers)

           Date  Wordle Answer
0    2024-07-19    1126  REFER
1    2024-07-18    1125  NERDY
2    2024-07-17    1124  QUITE
3    2024-07-16    1123  DECOY
4    2024-07-15    1122  SWOON
..          ...     ...    ...
257  2023-11-05     869  FLARE
258  2023-11-04     868  MANIA
259  2023-11-03     867  ARDOR
260  2023-11-02     866  UNTIL
261  2023-11-01     865  NOISE

[262 rows x 3 columns]

In [67]:
answers_dictionary = {}

# Loop through each row index
for i in range(len(answers)):
    date = answers.iloc[i, 0]  # Assuming the first column is 'Date'
    answer = answers.iloc[i, 2]  # Assuming third column is 'Answer'
    
    answers_dictionary[date] = answer

print(answers_dictionary )

answers_dictionary = {datetime.strptime(k, '%Y-%m-%d'): v for k, v in answers_dictionary.items()}

{'2024-07-19': 'REFER', '2024-07-18': 'NERDY', '2024-07-17': 'QUITE', '2024-07-16': 'DECOY', '2024-07-15': 'SWOON', '2024-07-14': 'VIDEO', '2024-07-13': 'ENACT', '2024-07-12': 'JIFFY', '2024-07-11': 'CAMEO', '2024-07-10': 'GAUNT', '2024-07-09': 'BLARE', '2024-07-08': 'SHAPE', '2024-07-07': 'CANON', '2024-07-06': 'SCOFF', '2024-07-05': 'CRUSH', '2024-07-04': 'DEBUT', '2024-07-03': 'THIGH', '2024-07-02': 'INLAY', '2024-07-01': 'ADAGE', '2024-06-30': 'BUDDY', '2024-06-29': 'ZEBRA', '2024-06-28': 'DROVE', '2024-06-27': 'ORDER', '2024-06-26': 'KNEAD', '2024-06-25': 'SAVOR', '2024-06-24': 'DOLLY', '2024-06-23': 'BUGLE', '2024-06-22': 'EDICT', '2024-06-21': 'PAINT', '2024-06-20': 'SCENT', '2024-06-19': 'TERSE', '2024-06-18': 'COVER', '2024-06-17': 'PRIOR', '2024-06-16': 'GRIND', '2024-06-15': 'PROUD', '2024-06-14': 'VAULT', '2024-06-13': 'ANGST', '2024-06-12': 'DETER', '2024-06-11': 'SWUNG', '2024-06-10': 'MANGA', '2024-06-09': 'CROWD', '2024-06-08': 'HENCE', '2024-06-07': 'MELON', '2024-06-06': 'ETHER', '2024-06-05': 'ORGAN', '2024-06-04': 'GROOM', '2024-06-03': 'STARK', '2024-06-02': 'BRAVO', '2024-06-01': 'BASIN', '2024-05-31': 'CHAOS', '2024-05-30': 'GUMMY', '2024-05-29': 'PAPAL', '2024-05-28': 'MINUS', '2024-05-27': 'SKIER', '2024-05-26': 'BEVEL', '2024-05-25': 'TITAN', '2024-05-24': 'GLIDE', '2024-05-23': 'SWISH', '2024-05-22': 'EXALT', '2024-05-21': 'DINGO', '2024-05-20': 'NICER', '2024-05-19': 'HITCH', '2024-05-18': 'BRINY', '2024-05-17': 'TUTOR', '2024-05-16': 'STALL', '2024-05-15': 'PINCH', '2024-05-14': 'AMASS', '2024-05-13': 'CUMIN', '2024-05-12': 'OUTER', '2024-05-11': 'TIDAL', '2024-05-10': 'MEDIA', '2024-05-09': 'JERKY', '2024-05-08': 'PIOUS', '2024-05-07': 'MUSTY', '2024-05-06': 'SHAVE', '2024-05-05': 'DECAL', '2024-05-04': 'VALUE', '2024-05-03': 'EBONY', '2024-05-02': 'SLICE', '2024-05-01': 'DIARY', '2024-04-30': 'PROWL', '2024-04-29': 'CRAFT', '2024-04-28': 'PRUNE', '2024-04-27': 'GLEAM', '2024-04-26': 'VAPID', '2024-04-25': 'INTRO', '2024-04-24': 'OVERT', '2024-04-23': 'ROVER', '2024-04-22': 'LASER', '2024-04-21': 'JOLLY', '2024-04-20': 'LUCID', '2024-04-19': 'RAISE', '2024-04-18': 'FACET', '2024-04-17': 'TITHE', '2024-04-16': 'SHANK', '2024-04-15': 'EQUIP', '2024-04-14': 'BLIMP', '2024-04-13': 'STEEL', '2024-04-12': 'WHINY', '2024-04-11': 'LOUSE', '2024-04-10': 'BROTH', '2024-04-09': 'MERGE', '2024-04-08': 'BREED', '2024-04-07': 'VOILA', '2024-04-06': 'FINCH', '2024-04-05': 'WRIST', '2024-04-04': 'CLIMB', '2024-04-03': 'PLAIT', '2024-04-02': 'SERUM', '2024-04-01': 'FROND', '2024-03-31': 'TABOO', '2024-03-30': 'FORCE', '2024-03-29': 'REALM', '2024-03-28': 'SPEAK', '2024-03-27': 'STUNG', '2024-03-26': 'MAYOR', '2024-03-25': 'SALLY', '2024-03-24': 'TOWEL', '2024-03-23': 'RISEN', '2024-03-22': 'DECAY', '2024-03-21': 'SHADE', '2024-03-20': 'LINGO', '2024-03-19': 'ABIDE', '2024-03-18': 'SPELT', '2024-03-17': 'SNORT', '2024-03-16': 'TOXIN', '2024-03-15': 'ERUPT', '2024-03-14': 'SINCE', '2024-03-13': 'LOCAL', '2024-03-12': 'HEAVE', '2024-03-11': 'PESKY', '2024-03-10': 'GRASP', '2024-03-09': 'CHEER', '2024-03-08': 'EARLY', '2024-03-07': 'CLONE', '2024-03-06': 'TEARY', '2024-03-05': 'HUNCH', '2024-03-04': 'FLAME', '2024-03-03': 'STATE', '2024-03-02': 'URBAN', '2024-03-01': 'FORTY', '2024-02-29': 'IMAGE', '2024-02-28': 'DEVIL', '2024-02-27': 'SENSE', '2024-02-26': 'OFTEN', '2024-02-25': 'SMITH', '2024-02-24': 'PIPER', '2024-02-23': 'APART', '2024-02-22': 'HEAVY', '2024-02-21': 'BUILD', '2024-02-20': 'MATCH', '2024-02-19': 'PRICE', '2024-02-18': 'RIDGE', '2024-02-17': 'PSALM', '2024-02-16': 'STASH', '2024-02-15': 'ASCOT', '2024-02-14': 'TALON', '2024-02-13': 'SCRAM', '2024-02-12': 'PASTA', '2024-02-11': 'NEVER', '2024-02-10': 'FRIED', '2024-02-09': 'STIFF', '2024-02-08': 'PLACE', '2024-02-07': 'AFTER', '2024-02-06': 'WHICH', '2024-02-05': 'REPEL', '2024-02-04': 'VERGE', '2024-02-03': 'MICRO', '2024-02-02': 'CLEFT', '2024-02-01': 'ALIVE', '2024-01-31': 'BULKY', '2024-01-30': 'EXPEL', '2024-01-29': 'LEGGY', '2024-01-28': 'EMBER', '2024-01-27': 'SNAKE', '2024-01-26': 'ALOOF', '2024-01-25': 'BLOCK', '2024-01-24': 'RELIC', '2024-01-23': 'STILL', '2024-01-22': 'TWEAK', '2024-01-21': 'NORTH', '2024-01-20': 'LARGE', '2024-01-19': 'THING', '2024-01-18': 'STOLE', '2024-01-17': 'COURT', '2024-01-16': 'BLOND', '2024-01-15': 'LUNCH', '2024-01-14': 'DOING', '2024-01-13': 'HEARD', '2024-01-12': 'ROUTE', '2024-01-11': 'BRIEF', '2024-01-10': 'THREW', '2024-01-09': 'LINER', '2024-01-08': 'FINAL', '2024-01-07': 'STONY', '2024-01-06': 'CABLE', '2024-01-05': 'LUNGE', '2024-01-04': 'SCANT', '2024-01-03': 'TWIRL', '2024-01-02': 'AGING', '2024-01-01': 'MURAL', '2023-12-31': 'SALTY', '2023-12-30': 'THREE', '2023-12-29': 'CHILD', '2023-12-28': 'LEARN', '2023-12-27': 'DAISY', '2023-12-26': 'PHONE', '2023-12-25': 'EVOKE', '2023-12-24': 'GRACE', '2023-12-23': 'SLOPE', '2023-12-22': 'TOUCH', '2023-12-21': 'BUILT', '2023-12-20': 'SMALL', '2023-12-19': 'TABLE', '2023-12-18': 'FUNNY', '2023-12-17': 'BACON', '2023-12-16': 'GLOBE', '2023-12-15': 'TOPIC', '2023-12-14': 'WOULD', '2023-12-13': 'SPENT', '2023-12-12': 'THESE', '2023-12-11': 'HOUSE', '2023-12-10': 'CHAIN', '2023-12-09': 'SHIFT', '2023-12-08': 'SHARP', '2023-12-07': 'SLEEP', '2023-12-06': 'WOMAN', '2023-12-05': 'YOUNG', '2023-12-04': 'WORST', '2023-12-03': 'ADAPT', '2023-12-02': 'GENRE', '2023-12-01': 'TAKEN', '2023-11-30': 'RESIN', '2023-11-29': 'SUSHI', '2023-11-28': 'SCOPE', '2023-11-27': 'TAWNY', '2023-11-26': 'SOLID', '2023-11-25': 'GUIDE', '2023-11-24': 'THROW', '2023-11-23': 'QUEEN', '2023-11-22': 'PIXEL', '2023-11-21': 'PIANO', '2023-11-20': 'CANDY', '2023-11-19': 'QUEUE', '2023-11-18': 'THINK', '2023-11-17': 'TARDY', '2023-11-16': 'TRUST', '2023-11-15': 'SIGHT', '2023-11-14': 'SASSY', '2023-11-13': 'GREEN', '2023-11-12': 'MEANT', '2023-11-11': 'ACTOR', '2023-11-10': 'LEASH', '2023-11-09': 'GLAZE', '2023-11-08': 'NINJA', '2023-11-07': 'LIMIT', '2023-11-06': 'TRADE', '2023-11-05': 'FLARE', '2023-11-04': 'MANIA', '2023-11-03': 'ARDOR', '2023-11-02': 'UNTIL', '2023-11-01': 'NOISE'}

In [68]:
expanded_df['wordle_answers'] = expanded_df['Message Date'].map(answers_dictionary)
print(expanded_df)

     Message Date  Year  Month  Day      Time      Text    Player Score  Fail  \
0      2023-07-19  2023      7   19  22:36:36    Beth 5      Beth     5     0
1      2023-07-19  2023      7   19  22:36:36   Ellen 5     Ellen     5     0
2      2023-07-19  2023      7   19  22:36:36    Lucy 4      Lucy     4     0
3      2023-07-19  2023      7   19  22:36:36     Tom 4       Tom     4     0
4      2023-07-19  2023      7   19  22:36:36     Jen 3  Jennifer     3     0
...           ...   ...    ...  ...       ...       ...       ...   ...   ...
1077   2024-07-18  2024      7   18  14:34:00    Beth 5      Beth     5     0
1078   2024-07-18  2024      7   18  14:34:00  Marcos 5    Marcos     5     0
1079   2024-07-18  2024      7   18  14:34:00     Tom 5       Tom     5     0
1080   2024-07-18  2024      7   18  14:34:00  Smitty 3    Smitty     3     0
1081   2024-07-18  2024      7   18  14:34:00    Slim 4      Slim     4     0

     Start_Words secondary_words tertiary_words wordle_answers
0          great           pious            NaN            NaN
1            NaN             NaN            NaN            NaN
2          weird           nasty          cough            NaN
3            NaN             NaN            NaN            NaN
4            NaN             NaN            NaN            NaN
...          ...             ...            ...            ...
1077       great           pious            NaN          NERDY
1078         NaN             NaN            NaN          NERDY
1079         NaN             NaN            NaN          NERDY
1080         NaN             NaN            NaN          NERDY
1081         NaN             NaN            NaN          NERDY

[1082 rows x 13 columns]

In [69]:
expanded_df.to_csv('expanded_df.csv', index=False)